<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Vendor add product"}) %>
    <!-- <script defer src="/js/rating.js"></script> -->
    <script defer src="/js/quantityControl.js"></script>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <%- include("partials/_navigation_bar"); %>
        <%- include("partials/_category_bar.ejs"); %>
    </header>
    <main class="px-[10%]">
        <section class="py-10">
            <!-- This could be breadcrumb (to be added) -->
            <div class="w-full overflow-hidden text-ellipsis text-gray-400 [&_a:hover]:text-violet-400">
                <% const urlCategory = product.category.replace(/\s/g, '+') %>
                <a href="/">Home</a>
                <span>/</span>
                <a href="/users/customer?category=<%= urlCategory %>"><%- product.category %></a>
                <span>/</span>
                <p class="inline text-ellipsis text-gray-700"><%- product.name %></p>
            </div>
            <!-- Product preview -->
            <div class="font-sans bg-white">
                <div class="p-6 lg:max-w-7xl max-w-4xl mx-auto">
                    <div class="grid items-start grid-cols-1 lg:grid-cols-5 gap-12 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] p-6">
                        <!-- Image -->
                        <div class="lg:col-span-3 w-full lg:sticky top-0 text-center">
                            <div class="px-4 py-10 rounded-xl shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative">
                                <img src="<%= product.imageCoverData%>" alt="Product" class="w-4/5 rounded object-cover" />
                                <button id="prevBtn" type="button" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                                    &lt;
                                </button>
                                <button id="nextBtn" type="button" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                                    &gt;
                                </button>
                                <button type="button" class="absolute top-4 right-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" fill="#ccc" class="mr-1 hover:fill-[#333]" viewBox="0 0 64 64">
                                    <path d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z" data-original="#000000"></path>
                                </svg>
                                </button>
                            </div>
            
                            <div class="mt-6 flex flex-wrap justify-center gap-6 mx-auto">
                                <div class="rounded-xl p-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]">
                                    <img src="<%= product.imageCoverData%>" alt="Product2" class="w-24 cursor-pointer" />
                                </div>
                                <div class="rounded-xl p-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]">
                                <img src="<%= product.imageCoverData%>" alt="Product2" class="w-24 cursor-pointer" />
                                </div>
                                <div class="rounded-xl p-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]">
                                <img src="<%= product.imageCoverData%>" alt="Product2" class="w-24 cursor-pointer" />
                                </div>
                                <div class="rounded-xl p-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]">
                                <img src="<%= product.imageCoverData%>" alt="Product2" class="w-24 cursor-pointer" />
                                </div>
                            </div>
                        </div>
                        <!-- Information -->
                        <div class="lg:col-span-2">
                            <!-- Brand -->
                            <h2 class="text-lg uppercase tracking-wider text-gray-400"><%- product.brand %></h2>
                            <!-- Name -->
                            <h1 class="text-2xl font-extrabold text-[#333]"><%- product.name %></h1>
                            <!-- Price -->
                            <div class="flex flex-wrap gap-4 mt-4">
                                <p class="text-[#333] text-3xl font-bold">$<%- product.price %></p>
                            </div>
                            <!-- Rating -->
                            <div class="rating mt-2 center-y"
                                data-size="24px"
                                data-rating="<%= product.rating %>" 
                                data-review-number="<%= product.reviewNumber %>"
                            ></div>
                            <!-- Publisher -->
                            <div class="mt-2">
                                <p class="text-sm inline">Publisher: <span class="text-gray-400"><%= product.publisher.businessName %></span></p>
                            </div>
                            <div class="mt-2">
                                <a href="/users/customer/storepage/<%= product.brand %>">
                                    <p class="text-sm inline">Store: <span class="text-gray-400"><%= product.brand %></span></p>
                                </a>
                            </div>                  
                            <!-- Tags -->
                            <div class="flex flex-wrap gap-x-2">
                                <p class="text-sm inline">Tags:</p>
                                <% product.tags.forEach(tag => { %>
                                    <a class="tag" href="#"><%- tag %></a>
                                <% }); %>
                            </div>
                            <!-- Description -->
                            <p class="mt-4 text-gray-400"><%- product.description %></p>

                            <!-- Quantity -->
                            <div class="mt-auto flex flex-col">
                                <div class="center-xy gap-3 my-2 mr-auto">
                                    <p class="text-lg">Quantity: </p>
                                    <div class="center-x rounded-md border-solid-1 border-gray-300">
                                        <!-- Decrease value -->
                                        <button id="quantityDecrease" class="px-2 py-2"><svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8 12L14 6V18L8 12Z"></path></svg></button>
                                        <!-- Value -->
                                        <div id="editableQuantity" contenteditable="true" class="px-2 py-2 focus:outline-none">1</div> 
                                        <!-- Increase value -->
                                        <button id="quantityIncrease" class="px-2 py-2"><svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 12L10 18V6L16 12Z"></path></svg></button>
                                    </div>
                                    <p id="stock" data-stock="<%= product.stock %>" class="text-gray-400"><%- product.stock %> item(s) available</p>
                                </div>
                                <div class="center-xy gap-3 mt-2">
                                    <button id="addToCart" class="px-4 py-2 rounded-md bg-violet-500 text-white w-2/3">Add to cart</button>
                                    <button id="addToCart" class="px-4 py-2 rounded-md bg-violet-500 text-white w-2/3">Buy now</button>                                
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <!-- Policies -->
            <div class="center-y justify-between flex-wrap w-full px-2 py-4 my-2">
                <p class="center-xy gap-4 text-gray-500 mb-2 sm:mb-0"><img class="w-5" src="/svg/double-check.svg" alt="double-check">Change of mind Applicable</p>
                <p class="center-xy gap-4 text-gray-500 mb-2 sm:mb-0"><img class="w-5" src="/svg/truck.svg" alt="Shipping-truck">Enjoy free shipping promotion with minimum 3 items</p>
                <p class="center-xy gap-4 text-gray-500 mb-2 sm:mb-0"><img class="w-5" src="/svg/shield-check.svg" alt="Shield-check"> Warranty available on all items</p>
            </div>
        </section>
    </main>
    <%- include("partials/_footer.ejs"); %>
    <form id="addProduct"action="/users/customer/<%= product.id %>/add" method="get">
        <input type="hidden" name="productQuantity" id="productQuantity" value="1">
    </form>

    <script>
        $(document).ready(function () {
            const addToCart = $("#addToCart")
            const addToCartForm = $("#addProduct")
            const productQuantity = $('#productQuantity')
    
            addToCart.on('click', () => {
                productQuantity.val(parseInt($('#editableQuantity').text()))
                addToCartForm.submit()
            })
        })

        let currentImageIndex = 0;
    
        const mainImage = document.getElementById('mainImage');
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        
        prevBtn.addEventListener('click', () => {
        currentImageIndex = (currentImageIndex > 0) ? currentImageIndex - 1 : images.length - 1;
        mainImage.src = images[currentImageIndex];
        });
        
        nextBtn.addEventListener('click', () => {
        currentImageIndex = (currentImageIndex < images.length - 1) ? currentImageIndex + 1 : 0;
        mainImage.src = images[currentImageIndex];
        });
    </script>
</body>

</html>




<div class="font-sans bg-white">
    <div class="p-6 lg:max-w-7xl max-w-4xl mx-auto">
        <div class="grid items-start grid-cols-1 lg:grid-cols-5 gap-12 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] p-6">
            
        </div>
    </div>
</div>
   
  
 